/* Fundo da tela inteira */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

/* O cartão branco do login */
.login-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  border-top: 5px solid #d32f2f; /* Detalhe vermelho Hemocentro */
}

.header-hemocentro {
  text-align: center;
  margin-bottom: 30px;
}

.header-hemocentro h1{
  color: #d32f2f;
  margin: 0;
  font-size: 40px;
}

.header-hemocentro p {
  color: #666;
  font-size: 14px;
}

/* Estilo dos campos */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que o padding não quebre a largura */
}

.input-group input:focus {
  border-color: #d32f2f;
  outline: none;
}

/* Botão temático */
.btn-vermelho {
  width: 100%;
  padding: 12px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-vermelho:hover {
  background-color: #b71c1c; /* Vermelho mais escuro no hover */
}
